*{
    margin: 0;
    padding: 0;
}
.hard{
    height: 7vh;
    width: 100%;
    display: flex;
}
.home{
    height: 100%;
    width: 5%;
    font-size: 250%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
.search{
    height: 100%;
    width: 40%;
    background-color: grey;
}
.searchicon{
    height: 100%;
    width: 5%;
    font-size: 250%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
.space{
    height: 100%;
    width: 35%;
}
.shop{
    height: 100%;
    width: 5%;
    font-size: 240%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content{
    height: 100%;
    width: 5%;
    font-size: 240%;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login{
    height: 100%;
    width: 5%;
    font-size: 240%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
}
.me{
    height: 93vh;
    width: 100%;
    background-color: red;
}
.team{
    height: 17%;
    width: 100%;
    background-color: blue;
}
.dream{
    height: 80%;
    width: 80%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    font-size: 150%;
    border-radius: 3%;
}