* {
    margin: 0;
    padding: 0;
  }
  .hard {
    height: 7vh;
    width: 100%;
    background-color: black;
    display: flex;
  }
  .home {
    height: 100%;
    width: 5%;
    font-size: 250%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home i{
    color: red;
  }
  .search {
    height: 100%;
    width: 40%;
    background-color: gray;
  }
  .searchicon {
    height: 100%;
    width: 5%;
    font-size: 250%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searchicon i{
    color: greenyellow;
  }
  .space {
    height: 100%;
    width: 35%;
    background-color: black;
    color: red;
  }
  .shop {
    height: 100%;
    width: 5%;
    font-size: 240%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .shop i {
    color: greenyellow;
  }
  .content {
    height: 100%;
    width: 5%;
    font-size: 240%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content i{
    color: greenyellow;
  }
  .login {
    height: 100%;
    width: 5%;
    font-size: 240%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login i{
    color: greenyellow;
  }
.me{
    height: 93vh;
    width: 100%;
    background-color: black;
}
.dream{
    height: 80%;
    width: 80%;
    display: flex;
    justify-content: center;
    font-size: 150%;
    border: 4px solid grey;
    border-radius: 25px;
}