* {
    margin: 0;
    padding: 0;
  }
  .hard {
    height: 7vh;
    width: 100%;
    background-color: blue;
    display: flex;
  }
  .home {
    height: 100%;
    width: 5%;
    font-size: 250%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .home i{
    color: red;
  }
  .search {
    height: 100%;
    width: 40%;
    background-color: black;
  }
  .searchicon {
    height: 100%;
    width: 5%;
    font-size: 250%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .searchicon i{
    color: gray;
  }
  .space {
    height: 100%;
    width: 35%;
    background-color: black;
    color: red;
  }
  .shop {
    height: 100%;
    width: 5%;
    font-size: 240%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .shop i {
    color: grey;
  }
  .content {
    height: 100%;
    width: 5%;
    font-size: 240%;
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .content i{
    color: gray;
  }
  .login {
    height: 100%;
    width: 5%;
    font-size: 240%;
    background-color: yellow;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .login i{
    color: gray;
  }
.me{
    height: 93vh;
    width: 100%;
    background-color: red;
}
.team{
    height: 17%;
    width: 100%;
    background-color: blue;
}
.dream{
    height: 80%;
    width: 80%;
    background-color: yellow;
    display: flex;
    justify-content: center;
    font-size: 150%;
    border-radius: 3%;
}